<!doctype html>
<html lang="en">

    <head>

        {{ include('./partials/title-meta.html.twig') }}

        {% block styles %}{% endblock %}

        {{ include('./partials/head-css.html.twig') }}

    </head>

    <body>

        <div class="wrapper">

            {{ include('./partials/topbar.html.twig') }}

            {{ include('./partials/horizontal-nav.html.twig') }}

            <div class="content-page">
                <div class="container-fluid">

                    {% block content %}{% endblock %}

                </div>

                {{ include('./partials/footer.html.twig') }}

            </div>
        </div>

        {{ include('./partials/customizer.html.twig') }}

        {{ include('./partials/footer-scripts.html.twig') }}

        {% block scripts %}{% endblock %}

    </body>
</html>